*{

    padding: 0;
    margin: 0;
    box-sizing: border-box;

}

header{

    display: flex;
    align-items: center;
    justify-content: center;
    height: 12vh;
    background-color: rgb(59, 59, 59);

}

main {

    display: flex;
    flex-direction: row;

}

main section#cartelas{

    width: 70%;
    height: 88vh;
    background-color: rgb(255, 255, 255);
    display: flex;
    flex-direction: column;
    

}

main section#numeros {

    width: 30%;
    height: 88vh;
    background-color: rgb(194, 194, 194);   
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;

}

section#cartelas div{

    margin-top: 20px;
    display: flex;
    width: 100%;
    justify-content: space-around;


}

button{

    height: 30px;
    width: 120px;

  
}

section#numeros h2{

    margin-top: 20px;


}

footer{

    position: fixed;
    bottom: 0px;
    height: 30px;
    background-color: rgb(59, 59, 59);
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;


}

#resultado{
    width: 140px;
    border-style: inset;
    border-color: white;
   
}

#espaco{
    margin-left: 20px;
}

#cart{
    border-bottom: groove;
    border-color: black;
}


#branco{
    color: rgb(255, 249, 249);
}


table, th, td {
    border: 1px solid black;
}


table{

    width: 15%;
    text-align: center;

}
